*{
    box-sizing: border-box; /* 오페라(Opera) */
    -moz-box-sizing: border-box; /* 파이어폭스(Firefox)*/
    -webkit-box-sizing: border-box; /* 웹킷(Webkit) & 크롬(Chrome) */
}
.cntMain {
    margin: 0 auto;
    padding: 5px;
    background: black;
    width: 240px;
    height: auto;
    display: inline-block;
    border: 2px solid white;
}
.title{
    padding: 5px;
    margin: 0;
    color:red;
    font-size: 18px;
    font-weight: bold;
}
.order{
    display: inline-block;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px;
}
.order input{
    margin: 5px;
    display: inline-block;
    width: 100px;
    height: 25px;
    padding: 5px;
}
.btn{
    font-size: 55px;
    font-weight: bold;
    color: white;
    line-height: 45px;
    text-align: center;
    margin: 5px;
    padding: 7px;
    float: left;
    width: 65px;
    height: 65px;
    background-color: grey;
    cursor: pointer;
    border-radius: 5px;
}
.del{
    font-size: 40px;
    line-height: 45px;
}
.clear{
    font-size: 20px;
    color: yellow;
}
.bttm{
    all:unset;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 5px;
    float: left;
    width: 102px;
    height: 60px;
    background-color: grey;
    border-radius: 5px;
}
.confirm{
    color: orange;
}
.cancle{
    color:red;
}