body{
font-weight: 400; /* 글자 굵기*/

/* font-size: 15px; 글자 크기*/
font-size : 1.5em;
text-decoration: underline; /*밑줄*/
/* color: #ff0000;
color: red; */
color: rgb(158, 190, 222);
text-align: right;
}
body>div{
    font-size: 0px;
}
div>div{
    font-size: 20px;
    display: inline-block;
    /*
    border-style: dotted;
    border-color: black;
    border-width: 1px;
    */
    border: 1px solid rgb(250, 128, 114);
    border-radius: 15px;
    width: 100px;
    height: 100px;
    
}