*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	width: 402px;
	margin: 0 auto; /*박스를 가운데로 위 아래 마진0 가운데 auto*/
	padding: 20px;
}
.container h1{
 text-align: center;
 
}