*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.left-menu{
	display: inline-block;
	width: 200px;
	float: left;
}

.left-menu ul{
	border: 1px dashed black;
	border-bottom: none;
}

.left-menu ul li{
	list-style: none;
	background-color: cornflowerblue;
	width: 200px;
	height: 40px;
	text-align: center;
	font-size: 10px;
	cursor: pointer;
	border-bottom: 1px dashed black;
	line-height: 40px;
}

nav a{
text-decoration: none;
color: black;
font-weight: bold;
display: inline-block; /* a태그는 인라인태그라서 글씨 부분만 변경된다.*/
width:100%;
height: 100%;
}

a:hover{
	color: white;
	background-color:black;
}

.container{
	display: inline-block;
	width: calc(100% - 200px);
	height: 100vh;
	font-size: 10px;
	float: left;
}

body::after{/*자식중에 float를 이용한 태그가 있는데 해당 태그의 높이를 포함하여
	부모 태그의 높이를 정하고 싶을때
	부모 태그::after;
	clear:both;
	display: block;
	content: "";
	*/
	clear: both;
	display: block;
	content: "";
}